body{
    margin: 5%;
}
h1{
    font-size: 50px;
    font-family: 'The Nautigal', cursive;
    font-family: 'Yeseva One', cursive;
}
.mission-2022{
    color: palevioletred;
}
p{
    display: flex;
    font-size: larger;
}
